* {
  margin: 0;
  font-weight: 700;
}
header {
  padding: 5px 0px 0px 5px;
  background-color: #d1d2d4;
  height: 100px;
  margin-bottom: 10px;
}
.container {
  display: flex;
  height: 400px;
  width: 100%;
}

.a {
  padding: 5px 0px 0px 5px;
  height: 195px;
  width: 79.5%;
  background-color: #ef4036;
}

.b {
  padding: 5px 0px 0px 5px;
  position: absolute;
  margin-top: 200px;
  height: 195px;
  width: 79.4%;
  background-color: #fcb040;
}

.c {
  padding: 5px 0px 0px 5px;
  height: 395px;
  width: 20%;
  background-color: #f5ee31;
}

footer {
  padding: 5px 0px 0px 5px;
  background-color: #d1d2d4;
  height: 100px;
  margin-top: 10px;
}

@media (max-width: 769px) {
  .a {
    width: 50%;
  }
  .b {
    width: 49.4%;
  }
  .c {
    width: 50%;
  }
}

@media (max-width: 361px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
  }
  .a {
    width: 100%;
  }
  .b {
    position: unset;
    width: 100%;
    margin-top: 0px;
  }
  .c {
    width: 100%;
    height: 200px;
  }
}
