* {
  margin: 0;
  font-weight: 700;
}
header {
  padding: 5px 0px 0px 5px;
  background-color: #d1d2d4;
  height: 100px;
  margin-bottom: 10px;
}
.container {
  display: flex;
  height: 600px;
  width: 100%;
}

.a {
  padding: 5px 0px 0px 5px;
  background-color: #8cc63f;
  width: 60%;
}

.b {
  padding: 5px 0px 0px 5px;
  background-color: #0b9444;
  width: 20%;
  order: -1;
}

.c {
  padding: 5px 0px 0px 5px;
  background-color: #f5ee31;
  width: 20%;
}

footer {
  padding: 5px 0px 0px 5px;
  background-color: #d1d2d4;

  height: 100px;
  margin-top: 10px;
}
@media (max-width: 769px) {
  .container {
    flex-direction: column;
  }
  .a {
    width: 99.3%;
    height: 420px;
  }
  .b {
    position: absolute;
    width: 49%;
    height: 177px;
    margin-top: 418px;
    order: unset;
  }
  .c {
    width: 50%;
    height: 180px;
    align-self: flex-end;
  }
}
@media (max-width: 361px) {
  header {
    width: 100%;
  }
  .a {
    width: 100%;
    height: 60%;
  }
  .b {
    position: unset;
    margin: unset;
    width: 100%;
    height: 40%;
  }
  .c {
    width: 100%;
    height: 40%;
    align-self: unset;
  }
  footer {
    width: 100%;
  }
}
